body{
  background-color: rgb(36, 44, 56);
}

.carousel-content{
  margin-top: 2%;
  display: none;
}
.carousel-content.active{
  display: block;
}
.contenedor-carousel{
  margin: auto;
  width: 70%;
  max-width: 900px;

  position: relative;
  box-shadow: 0 0 0 5px #fff,
              0 15px 50px;
}
.carousel{
  text-align: center;
  width: auto;
  height:auto;
}
.carousel div img{
  width: 100%;
}
/*controles*/
.controls {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
}
.previous, .next{
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}
.previous:hover, .next:hover{
  background: #00c5b9;
}
.previous{
  left: 10px;
}
.next{
  right: 10px;
}


.controls button {
    background: #415066;
    border: #415066;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    cursor: pointer;
}

.controls button.active {
    background: #00c5b9;
}
